@model Capstone.Models.TAMCEFacilityModel

<div class="row">
    <div class="col-md-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">17. COMMITMENT TO NATIONAL HEALTH PROGRAMMES </legend>

            <div class="row">
                <div class="col-xs-12">
                    <label> A) Family Welfare, MCH & MTP Programme :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr>
                                    <th>S.No.</th>
                                    <th style="width:480px;">Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th style="width:260px;">Partial Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                            </table>
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Completion of proportional target of Sterilization
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkMyhelpYou" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Completion of proportionate IUD target
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        Maintenance of - ILR, Refrigerator or walk in cooler is satisfactory with breakdown of cold chain less than 2%
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width:528px;">
                                        Up to date para wise, religion wise breakup of total deliveries taking place in the Institution month wise.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width:528px;">
                                        Organization of diagnostic camps, adoption of Primary Health Centres/ Rural Hospitals for providing speciality services,
                                        training of staff and officers in field.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td style="width:528px;">
                                        Organization of MTP training (verify the records)
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> B) National Malaria Eradiction Programme :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Blood smear collection (15% to new OPD)
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Blood smear examination done in Lab. On Same day & treatment given as malaria clinic.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        Knowledge of M.Os about presumptive and radical treatment of PV & PF
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> C) National Tuberculosis Programme :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Sputum Collection 25% of total new OPD at DTC
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Disposal of Sputum Cups by burning or burial
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> D) National Programme For Control of Blindness:</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Completion of prop. target of Cataract cases for Hospital
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Followup study done for restoration of vision after operation
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> E) National Leprosy Eradiction Programme :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Awareness of M Os about M.D.T lepra reaction management
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Reconstructive surgery camps organized
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        Sanitation and management of temporary hospital ward
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> F) STD/ AIDS Control Programme :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Training of Capstone officers and paraCapstones in STD/HIV/AIDS
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        VDRL Screening of all STD cases done
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        ANC Screening for VDRL done
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width:528px;">
                                        Syndromic approach as per guidelines followed
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width:528px;">
                                        Condom distribution to STD Cases
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td style="width:528px;">
                                        Drugs used as per National guidelines
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td style="width:528px;">
                                        Attempt made for partner notification& appropriate steps
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td style="width:528px;">
                                        Reports sent regularly in precribed format
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td style="width:528px;">
                                        Biosafety measures followed in regards to prevent HIV infection
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> G) Cancer Control Programme :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>Partial Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Availability of papsmears facilities and followup study of postive cases
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Training of qualified Pathologist or Gynecologist & Techinicians in paps mear materials
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        Availability of edequate equipments and uninterrupted supply of staining materials
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width:528px;">
                                        Availability of adaquate reagents and chemicals for papsmear at clinic.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width:528px;">
                                        Organization of diagnostic camps for Cancer cervix, tobacco related cancers in the triba,
                                        and difficult area of District with the help of NGOs
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </fieldset>
    </div>
</div>

