@model Capstone.Models.TAMCEFacilityModel

<div class="row">
    <div class="col-md-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">EQUIPMENT FOR DIAGNISTIC CENTERS </legend>

            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr>
                                    <th style="width:130px;">S.No.</th>
                                    <th style="width:480px;">Equipment Name</th>
                                    <th style="text-align-last:center">Remarks</th>
                                </tr>
                            </table>
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        RADIOLOGY AND IMAGING UNITS
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        500 MA/300 MA / 100 MA X-RAY SYSTEM
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        60 MA MOBILE X-RAY SYSTEM
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width:528px;">
                                        ULTRASONIC SCANNER, GENERAL PURPOSE
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width:528px;">
                                        ULTRASONIC SCANNER, OBSTETRICS PURPOSES
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td style="width:528px;">
                                        HIGH-END DIAGNOSTIC CENTERS
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td style="width:528px;">
                                        C.T SCANNER WITH IMAGE PROCESSORS
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td style="width:528px;">
                                        MAMMOGRAPHY
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td style="width:528px;">
                                        500 MA X-RAY UNIT WITH IITV
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td style="width:528px;">
                                        ALL OTHER IMAGING EQUIPMENT
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td style="width:528px;">
                                        BIO-CHEMISTRY AND PATHOLOGY CENTERS
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td style="width:528px;">
                                        MICROSCOPE, BINOCULAR WITH LAMP
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td style="width:528px;">
                                        PHOTO-ELECTRIC COLORIMETER
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td style="width:528px;">
                                        SPECTROPHOTOMETER
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td style="width:528px;">
                                        MICRO PIPPETTE
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td style="width:528px;">
                                        WATER BATH
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td style="width:528px;">
                                        HOT AIR OVEN, 2 LEVELS
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td style="width:528px;">
                                        INCUBATOR, LABORATORY
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td style="width:528px;">
                                        WATER BILL, 4 LITRES
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td style="width:528px;">
                                        CENTRIFUGE(ELECTRICAL)
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td style="width:528px;">
                                        CENTRIFUGE(HAEMATOCRIT)
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td style="width:528px;">
                                        HOT PLATE, LABORATORY
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td style="width:528px;">
                                        ROTOR/SHAKER(LABORATORY)
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td style="width:528px;">
                                        COUNTING CHAMBER
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td style="width:528px;">
                                        PH METER
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td style="width:528px;">
                                        GLUCOMETER(IN OPD)
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td style="width:528px;">
                                        HAEMOGLOBIN METER
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td style="width:528px;">
                                        MICROTOME
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td style="width:528px;">
                                        OVEN, WAX-EMBEDDING
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td style="width:528px;">
                                        TISSUE PROCESSOR
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td style="width:528px;">
                                        BLOOD-GAS ANALYSER
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td style="width:528px;">
                                        TIMER STOPWATCH AND ALARM CLOCK
                                    </td>
                                    <td style="text-align-last:center"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </fieldset>
    </div>
</div>
