@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
   
}

<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>


    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

        <p>
            We could not find the page you were looking for.

        </p>


    </div>
</div>
<script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/plugins/dist/css/AdminLTE.css" rel="stylesheet" />
<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
