

     <section class="content-header">
    <h3>
      
    </h3>
  
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <!-- /.box-header -->
                <div class="box-body">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Check List For Verification Of Art Clinics  Renewal Of Registration</legend>
                        <div class="row">
                            <div class="col-md-8">
                                <label>1) Name, address, Contact Number and Email-id Of the Hospital / Nursing Home / Clinic / Diagnostic Centre.</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q1" value=""/>Yes &nbsp;
                                <input type="radio" name="q1" value="" />No
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-md-8">
                                <label>2) Name, Qualification, Address, Cell no & Email Id of the owner.</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q2" value="" />Yes &nbsp;
                                <input type="radio" name="q2" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <b> MINIMAL PHYSICAL REQUIREMENTS.</b>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>1) THE NON-STERILE AREA.</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q3" value="" />Yes &nbsp;
                                <input type="radio" name="q3" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>2) A RECEPTION AND WAITING ROOM FOR PATIENT</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q4" value="" />Yes &nbsp;
                                <input type="radio" name="q4" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>3) A ROOM WITH PRIVACY</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q5" value="" />Yes &nbsp;
                                <input type="radio" name="q5" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>4) A general purpose clinical laboratory</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q6" value="" />Yes &nbsp;
                                <input type="radio" name="q6" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>5) Store room</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q7" value="" />Yes &nbsp;
                                <input type="radio" name="q7" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>6) Record room</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q8" value="" />Yes &nbsp;
                                <input type="radio" name="q8" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>7) Auto clave room</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q9" value="" />Yes &nbsp;
                                <input type="radio" name="q9" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>8) Steps for vermin proofing</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q10" value="" />Yes &nbsp;
                                <input type="radio" name="q10" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>9) Semen collection room</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q11" value="" />Yes &nbsp;
                                <input type="radio" name="q11" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>10) Semen processing laboratory</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q12" value="" />Yes &nbsp;
                                <input type="radio" name="q12" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>11) Clean room for IUI</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q13" value="" />Yes &nbsp;
                                <input type="radio" name="q13" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>12) THE STERILE AREA</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q14" value="" />Yes &nbsp;
                                <input type="radio" name="q14" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>13) The Operation theatre</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q15" value="" />Yes &nbsp;
                                <input type="radio" name="q15" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>14) Room for intrauterine transfer of embryo</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q16" value="" />Yes &nbsp;
                                <input type="radio" name="q16" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>15) The embryology laboratory complex</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q17" value="" />Yes &nbsp;
                                <input type="radio" name="q17" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>16) ANCILLARY LABORATORY FACILITIES</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q18" value="" />Yes &nbsp;
                                <input type="radio" name="q18" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>17) Hormone and other assays</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q19" value="" />Yes &nbsp;
                                <input type="radio" name="q19" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>18) Microbiology and histopathology</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q20" value="" />Yes &nbsp;
                                <input type="radio" name="q20" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>19) Maintenance of the laboratories</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q21" value="" />Yes &nbsp;
                                <input type="radio" name="q21" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>20) Quality of consumables used in the laboratory</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q22" value="" />Yes &nbsp;
                                <input type="radio" name="q22" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>21) Backup power supply</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q23" value="" />Yes &nbsp;
                                <input type="radio" name="q23" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <b>ESSENTIAL QUALIFICATION OF THE ART TEAM</b>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label><b>1. GYNAECOLOGIST:</b> POST-GRADUATE DIPLOMA OR DEGREE IN GYNAECOLOGY</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q24" value="" />Yes &nbsp;
                                <input type="radio" name="q24" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label><b>2. ANDROLOGIST:</b> UROLOGIST WITH A POST GRADUATE DEGREE</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q25" value="" />Yes &nbsp;
                                <input type="radio" name="q25" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label><b>3. CLINICAL EMBRYOLOGIST:</b> MEDICAL GRADUATE OF HAVE A POST-GRADUATE DEGREE OR A DOCTORATE IN APPROPRIATE AREA OF LIFE SCIENCE</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q26" value="" />Yes &nbsp;
                                <input type="radio" name="q26" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label><b>4. COUNSELLORS:</b> AT LEAST A DEGREE (PREFARABLE A POST GRADUATE DEGREE) IN SOCIAL SCIENCES, PSYCHOLOGY, LIFE SCIENCES OR MEDICINE, AND GOOD KNOWLEDGE </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q26" value="" />Yes &nbsp;
                                <input type="radio" name="q26" value="" />No
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-8">
                                <label><b>5. PROGRAMME CO-ORDINATOR/DIRECTOR:</b>POST-GRADUATE DEGREE IN AN APPROPRIATE MEDICAL OR BIOLOGICAL SCIENCE.    </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="q26" value="" />Yes &nbsp;
                                <input type="radio" name="q26" value="" />No
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 form-group">
                                <label class="col-md-2">Upload File:</label>
                                <input class="col-md-3" type="file" id="uploadFile"/>
                                <input class="col-md-1 btn-success" type="submit" id="btnUpload" value="Upload"/>
                            </div>
                        </div>
                        
                    </fieldset>
                   
                </div>
            </div>
            <!-- /.box -->

        </div>
    </div>

    
</section>