
@{
    ViewBag.Title = "TESTCROR";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}


  <div>
      <div>
          @{Html.RenderPartial("_ClinicsRenewalOfRegistration");}
      </div>
      <div>
          @{Html.RenderPartial("_GeneticCounsellingCentre");}
      </div>
      <div>
          @{Html.RenderPartial("_ultrasonographyclinic");}
      </div>
</div>
