<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.92.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net461" />
  <package id="FastMember.Signed" version="1.3.0" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
  <package id="System.Web.Mvc.Extensions" version="1.1.1.2" targetFramework="net461" />
  <package id="WebApiFilters4Log" version="1.2.0.0" targetFramework="net461" />
</packages>