@model Capstone.Models.BioCapstoneViewModel
@{
    ViewBag.Title = "BioCapstone";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<h2>BioCapstone</h2>

@{ 
    Html.RenderPartial("_BioCapstone", Model);
}

