@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@*<body style="overflow-x: hidden;">*@

    <div class="loader"></div>

    <!-- Navigation Bar Starts Here -->
    <!-- BODY Starts -->

    <!-- Security Policy Start-->
    <div id="dep" class="tab-pane fade in active" style="color: #24b95c">
        @*<div class="col-md-2"></div>*@
        <div class="col-sm-12 col-md-8 text-left depart">
            @*<h2>Cyber Security Policy</h2>
            <ul style="text-align: left; margin-top: 1%;">
                <li><a href="#" target="_blank"><h4> <u>Telangana Cyber Security Policy</u></h4></a></li>                
            </ul>*@
        </div>
        <div class="col-sm-0 col-md-2 "></div>
    </div>
    <!-- Security Policy End -->

    <div id="dep" class="tab-pane fade in active" style="color: #24b95c">

        <div class="col-md-2"></div>

        <div class="col-sm-12 col-md-8 text-left depart">
            <h2><a style="color: #24b95c">ABOUT US </a></h2>
            <ul style="text-align: left;color:cornflowerblue; margin-top: 1%;">
                <li>
                    <h4 style="font-family:initial">
                        To provide a total package to students which will help them with all the information they require for 
                        a smooth arrival in Canada so that they do not need to depend on any other sources. This will save people from many fraudulent services available in market.
                    </h4>
                </li>
               

            </ul>
        </div>
        <div class="col-sm-0 col-md-2 "></div>
    </div>
 
