
@{
    ViewBag.Title = "SLA Days";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="main_container" role="main">
    <div class="main_container">
        <div class="row">
            <div class="x_panel">
                <div class="x_title text-center">
                    <h2>
                        <u>SLA Days</u>
                    </h2>
                    <ul style="float: right;" class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-9">
                            <table class="table table-bordered">
                                <tr>
                                    <th class="text-center">S. No.</th>
                                    <th>Stage</th>
                                    <th class="text-center">Days</th>
                                    <th>Remarks</th>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Prescrutinity</td>
                                    <td class="text-center">3</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Query Responded</td>
                                    <td class="text-center">3</td>
                                    <td>After Response again application will be submitted for presrutinity</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>Inspection</td>
                                    <td class="text-center">7</td>
                                    <td></td>
                                </tr>
                                @*<tr>
                                    <td class="text-center">4</td>
                                    <td>Advisory Meeting</td>
                                    <td class="text-center">10</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td>Multi Member Meeting</td>
                                    <td class="text-center">35</td>
                                    <td></td>
                                </tr>*@
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>Approval &  Issue</td>
                                    <td class="text-center">12</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong>Total</strong></td>
                                    <td class="text-center"><strong>25</strong></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

