
@{
    ViewBag.Title = "How to Apply";
    //Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@*<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>*@
    <div class="container">    <br/>    
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="modal-title" style="width:330px;">TAMCE - Submit Application Process Demo Details</div>
                <hr />
                <div class="video-frame">
                    <video controls="controls" style="width:1200px; height:370px;">
                        <source src='@Url.Content("~/Uploads/Videos/TAMCE.mp4")' type="video/mp4" />
                    </video>
                </div>
            </div>
    </div>
@*</body>
</html>*@

