@model Capstone.Models.PCPNDTViewModel
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Cancel License </legend>
    <div class="row">
        <div class="col-md-12">
           @Model.cancelLiceseModel.ApplicantName  owner of @Model.cancelLiceseModel.CenterName would like to cancel his/her registration
        </div>
    </div>
</fieldset>