
@*<section class="content-header">
    <h3></h3>

</section>*@

<section class="content">
    <div id="divArt">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Check List For Verification Of ART Clinics  Renewal Of Registration</legend>
            <div class="row">
                <div class="row">
                    <div class="col-md-5"><b>1.</b></div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Facility Name :</div>
                        <div class="col-md-6"><label id="q15Name" class="FacilityName"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Address :</div>
                        <div class="col-md-6"><label id="q15Address" class="FacilityAddress"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Phone :</div>
                        <div class="col-md-6"><label id="q15Phone" class="FacilityPhone"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Email :</div>
                        <div class="col-md-6"><label id="q15Email" class="FacilityEmail"></label></div>

                    </div>


                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="106" value="Yes" />Yes &nbsp;
                    <input type="radio" name="106" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D15"></span>
                </div>

            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-5"><b>2.</b></div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Applicant Name :</div>
                        <div class="col-md-6"><label id="q16Name" class="ApplicantName"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Qualification :</div>
                        <div class="col-md-6"><label id="q16Qualification" class="Qualification"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Address :</div>
                        <div class="col-md-6"><label id="q16Address" class="ApplicantAddress"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Phone</div>
                        <div class="col-md-6"><label id="q16Phone" class="ApplicantPhone"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Email :</div>
                        <div class="col-md-6"><label id="q16Email" class="ApplicantEmail"></label></div>

                    </div>


                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="107" value="Yes" />Yes &nbsp;
                    <input type="radio" name="107" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D16"></span>
                </div>

            </div>
            
             @*<div class="row">
                <div class="col-md-8">
                    <label id="Q106">1) Name, address, Contact Number and Email-id Of the Hospital / Nursing Home / Clinic / Diagnostic Centre.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="106" value="Yes" />Yes &nbsp;
                    <input type="radio" name="106" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D13"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label id="Q107">2) Name, Qualification, Address, Cell no & Email Id of the owner.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="107" value="Yes" />Yes &nbsp;
                    <input type="radio" name="107" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D107"></span>
                </div>
            </div>*@
            <div class="row">
                <b> MINIMAL PHYSICAL REQUIREMENTS.</b>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>1) THE NON-STERILE AREA.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="108" value="Yes" />Yes &nbsp;
                    <input type="radio" name="108" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D108"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>2) A RECEPTION AND WAITING ROOM FOR PATIENT</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="109" value="Yes" />Yes &nbsp;
                    <input type="radio" name="109" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D109"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>3) A ROOM WITH PRIVACY</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="110" value="Yes" />Yes &nbsp;
                    <input type="radio" name="110" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D110"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>4) A general purpose clinical laboratory</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="111" value="Yes" />Yes &nbsp;
                    <input type="radio" name="111" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D111"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>5) Store room</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="112" value="Yes" />Yes &nbsp;
                    <input type="radio" name="112" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D112"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>6) Record room</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="113" value="Yes" />Yes &nbsp;
                    <input type="radio" name="113" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D113"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>7) Auto clave room</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="114" value="Yes" />Yes &nbsp;
                    <input type="radio" name="114" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D114"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>8) Steps for vermin proofing</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="115" value="Yes" />Yes &nbsp;
                    <input type="radio" name="115" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D115"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>9) Semen collection room</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="116" value="Yes" />Yes &nbsp;
                    <input type="radio" name="116" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D116"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>10) Semen processing laboratory</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="117" value="Yes" />Yes &nbsp;
                    <input type="radio" name="117" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D117"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>11) Clean room for IUI</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="118" value="Yes" />Yes &nbsp;
                    <input type="radio" name="118" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D118"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>12) THE STERILE AREA</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="119" value="Yes" />Yes &nbsp;
                    <input type="radio" name="119" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D119"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>13) The Operation theatre</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="120" value="Yes" />Yes &nbsp;
                    <input type="radio" name="120" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D120"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>14) Room for intrauterine transfer of embryo</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="121" value="Yes" />Yes &nbsp;
                    <input type="radio" name="121" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D121"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>15) The embryology laboratory complex</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="122" value="Yes" />Yes &nbsp;
                    <input type="radio" name="122" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D122"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>16) ANCILLARY LABORATORY FACILITIES</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="123" value="Yes" />Yes &nbsp;
                    <input type="radio" name="123" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D123"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>17) Hormone and other assays</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="124" value="Yes" />Yes &nbsp;
                    <input type="radio" name="124" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D124"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>18) Microbiology and histopathology</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="125" value="Yes" />Yes &nbsp;
                    <input type="radio" name="125" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D125"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>19) Maintenance of the laboratories</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="126" value="Yes" />Yes &nbsp;
                    <input type="radio" name="126" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D126"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>20) Quality of consumables used in the laboratory</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="127" value="Yes" />Yes &nbsp;
                    <input type="radio" name="127" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D127"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>21) Backup power supply</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="128" value="Yes" />Yes &nbsp;
                    <input type="radio" name="128" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D128"></span>
                </div>
            </div>
            <div class="row">
                <b>ESSENTIAL QUALIFICATION OF THE ART TEAM</b>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label><b>1. GYNAECOLOGIST:</b> POST-GRADUATE DIPLOMA OR DEGREE IN GYNAECOLOGY</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="129" value="Yes" />Yes &nbsp;
                    <input type="radio" name="129" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D129"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label><b>2. ANDROLOGIST:</b> UROLOGIST WITH A POST GRADUATE DEGREE</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="130" value="Yes" />Yes &nbsp;
                    <input type="radio" name="130" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D130"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label><b>3. CLINICAL EMBRYOLOGIST:</b> Capstone GRADUATE OF HAVE A POST-GRADUATE DEGREE OR A DOCTORATE IN APPROPRIATE AREA OF LIFE SCIENCE</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="131" value="Yes" />Yes &nbsp;
                    <input type="radio" name="131" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D131"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label><b>4. COUNSELLORS:</b> AT LEAST A DEGREE (PREFARABLE A POST GRADUATE DEGREE) IN SOCIAL SCIENCES, PSYCHOLOGY, LIFE SCIENCES OR MEDICINE, AND GOOD KNOWLEDGE </label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="132" value="Yes" />Yes &nbsp;
                    <input type="radio" name="132" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D132"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label><b>5. PROGRAMME CO-ORDINATOR/DIRECTOR:</b>POST-GRADUATE DEGREE IN AN APPROPRIATE Capstone OR BIOLOGICAL SCIENCE.    </label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="133" value="Yes" />Yes &nbsp;
                    <input type="radio" name="133" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D133"></span>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-offset-2 form-group">
                        <label class="col-md-2">Upload File:</label>
                        <input class="col-md-3" type="file" id="uploadFile"/>
                        <input class="col-md-1 btn-success" type="submit" id="btnUpload" value="Upload"/>
                    </div>
                </div>*@

            <div class="row">
                <b>E.</b>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label>In view of the inspection obtained in the check-list it is recommended / not recommended that the registration  / Renewal to the facility of the applicant be granted</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="134" value="Yes" />Yes &nbsp;
                    <input type="radio" name="134" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D134"></span>
                </div>
            </div>

            <div id="divRemark" hidden>
                <div class="row">
                    <b>F.</b>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label>If not recommended, state the reasons for same</label>
                    </div>
                    <div class="col-md-4 Input" hidden>
                        <textarea class="form-control" id="135" rows="3" cols="40"></textarea>
                        <div class="col-md-4 displayInput" hidden>
                            <span id="D135"></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
                    @*<div class="box-footer pull-right">
                        <input type="button" id="btnSave" value="Save" class="btn btn-info" />
                    </div>*@

    
</section>

<script>
    $(document).ready(function () {



        $("input[name='134']").on('ifChecked', function (e) {
            if (this.value == "No") {
                $('#divRemark').show();
            }
            else {
                $('#divRemark').hide();
            }

        });



    });
</script>
<script type="text/javascript">
    $(document).ready(function () {



        var data = {
            TransactionId: +$('#hfTransactionId').val(),
            //TransactionId: 211,
            DepartmentUserId: 1,
            FacilityId:6
        }

        var url = '@Url.Action("GetDeptUserInspectionQuestions", "Inspection", new { Area = "Department" })';
        var jqxhr = $.post(url, data, function () { })
            .done(function (response) {
                
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                BindData(json);

            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Get inspectionlist, Request Failed: " + err);
            });



    })
    function BindData(json) {
       
      
        $('#Q106').text('1. ' + json.Table[0].FacilityDetails);
        $('#Q107').text('2. ' + json.Table[0].ApplicantDetails);


    }


</script>


<script>


    $('#btnSave').click(function () {

        preparejson();
        function preparejson() {

            var Inspection = [];

            Inspection.push({
                QuestionId: 106,
                Answer: $('input[name="106"]:checked').val()
            })
            Inspection.push({
                QuestionId: 107,
                Answer: $('input[name="107"]:checked').val()
            })
            Inspection.push({
                QuestionId: 108,
                Answer: $('input[name="108"]:checked').val()
            })
            Inspection.push({
                QuestionId: 109,
                Answer: $('input[name="109"]:checked').val()
            })
            Inspection.push({
                QuestionId: 110,
                Answer: $('input[name="110"]:checked').val()
            })
            Inspection.push({
                QuestionId: 111,
                Answer: $('input[name="111"]:checked').val()
            })
            Inspection.push({
                QuestionId: 112,
                Answer: $('input[name="112"]:checked').val()
            })
            Inspection.push({
                QuestionId: 113,
                Answer: $('input[name="113"]:checked').val()
            })
            Inspection.push({
                QuestionId: 114,
                Answer: $('input[name="114"]:checked').val()
            })
            Inspection.push({
                QuestionId: 115,
                Answer: $('input[name="115"]:checked').val()
            })
            Inspection.push({
                QuestionId: 116,
                Answer: $('input[name="116"]:checked').val()
            })
            Inspection.push({
                QuestionId: 117,
                Answer: $('input[name="117"]:checked').val()
            })
            Inspection.push({
                QuestionId: 118,
                Answer: $('input[name="118"]:checked').val()
            })
            Inspection.push({
                QuestionId: 119,
                Answer: $('input[name="119"]:checked').val()
            })
            Inspection.push({
                QuestionId: 120,
                Answer: $('input[name="120"]:checked').val()
            })
            Inspection.push({
                QuestionId: 121,
                Answer: $('input[name="121"]:checked').val()
            })
            Inspection.push({
                QuestionId: 122,
                Answer: $('input[name="122"]:checked').val()
            })
            Inspection.push({
                QuestionId: 123,
                Answer: $('input[name="123"]:checked').val()
            })
            Inspection.push({
                QuestionId: 124,
                Answer: $('input[name="124"]:checked').val()
            })
            Inspection.push({
                QuestionId: 125,
                Answer: $('input[name="125"]:checked').val()
            })
            Inspection.push({
                QuestionId: 126,
                Answer: $('input[name="126"]:checked').val()
            })
            Inspection.push({
                QuestionId: 127,
                Answer: $('input[name="127"]:checked').val()
            })
            Inspection.push({
                QuestionId: 128,
                Answer: $('input[name="128"]:checked').val()
            })
            Inspection.push({
                QuestionId: 129,
                Answer: $('input[name="129"]:checked').val()
            })
            Inspection.push({
                QuestionId: 130,
                Answer: $('input[name="130"]:checked').val()
            })
            Inspection.push({
                QuestionId: 131,
                Answer: $('input[name="131"]:checked').val()
            })
            Inspection.push({
                QuestionId: 132,
                Answer: $('input[name="132"]:checked').val()
            })
            Inspection.push({
                QuestionId: 133,
                Answer: $('input[name="133"]:checked').val()
            })
            Inspection.push({
                QuestionId: 134,
                Answer: $('input[name="134"]:checked').val()
            })
            Inspection.push({
                QuestionId: 135,
                Answer: $('#135').val()
            })

            var data = {
                TransactionId: $('#hfTransactionId').val(),
                Inspection: Inspection
            }
            //console.log(Inspection);
            //console.log(data);
            var url = '@Url.Action("InspectionList", "Inspection", new { Area = "Department" })';
            var jqxhr = $.post(url, data, function () { })
                .done(function (response) {
                    var json;
                    if (response instanceof Object)
                        json = response;
                    else
                        json = $.parseJSON(response);
                    console.log(json);
                    //BindCounts(json);
                    onSuccess(json)

                })
                .fail(function (jqxhr, status, error) {
                    var err = status + ", " + error;
                    console.log("Get Applications, Request Failed: " + err);
                });
        }

        function onSuccess(json) {

            ShowModal(json);

        }
    });

</script>