 @*<section class="content-header">
    <h3></h3>

</section>*@
<section class="content">    
    <div id="divCounselling">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Check List For Verification Of Genetic Counselling Centre Fresh / Renewal</legend>
            <div class="row">
                <div class="row">
                <div class="col-md-5"><b>1.</b></div>
                </div>
                
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">Facility Name :</div>
                            <div class="col-md-6"><label id="q15Name" class="FacilityName"></label></div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">Address :</div>
                            <div class="col-md-6"><label id="q15Address" class="FacilityAddress"></label></div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">Phone :</div>
                            <div class="col-md-6"><label id="q15Phone" class="FacilityPhone"></label></div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">Email :</div>
                            <div class="col-md-6"><label id="q15Email" class="FacilityEmail"></label></div>

                        </div>


                    </div>
                    <div class="col-md-4 Input" hidden>
                        <input type="radio" name="15" value="Yes" />Yes &nbsp;
                        <input type="radio" name="15" value="No" />No
                    </div>
                    <div class="col-md-4 displayInput" hidden>
                        <span id="D15"></span>
                    </div>
                
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-5"><b>2.</b></div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Applicant Name :</div>
                        <div class="col-md-6"><label id="q16Name" class="ApplicantName"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Qualification :</div>
                        <div class="col-md-6"><label id="q16Qualification" class="Qualification"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Address :</div>
                        <div class="col-md-6"><label id="q16Address" class="ApplicantAddress"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Phone</div>
                        <div class="col-md-6"><label id="q16Phone" class="ApplicantPhone"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Email :</div>
                        <div class="col-md-6"><label id="q16Email" class="ApplicantEmail"></label></div>

                    </div>


                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="16" value="Yes" />Yes &nbsp;
                    <input type="radio" name="16" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D16"></span>
                </div>

            </div>
            
            @*<div class="row">
                <div class="col-md-8">
                    <label id="q15Name">1. Name, address, Contact Number and Email-id Of the Hospital / Nursing Home / Clinic / Diagnostic Centre.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="15" value="Yes" />Yes &nbsp;
                    <input type="radio" name="15" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D15"></span>
                </div>
            </div>*@

            @*<div class="row">
                <div class="col-md-8">
                    <label id="q16">2. Name, Qualification, Address, Cell no & Email Id of the owner.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="16" value="Yes" />Yes &nbsp;
                    <input type="radio" name="16" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D16"></span>
                </div>
            </div>*@
            <div class="row">
                <b> A. PLACE</b>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>A room with an area of seven (7) square meters.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="17" value="Yes" />Yes &nbsp;
                    <input type="radio" name="17" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D17"></span>
                </div>
            </div>
            <div class="row">
                <b> B. EQUIPMENT</b>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>Educational charts / models</label>
                    <div class="row">
                        <table id="tblEquipment" class="table table-bordered EquipmentList"></table>
                    </div>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="18" value="Yes" />Yes &nbsp;
                    <input type="radio" name="18" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D18"></span>
                </div>
            </div>
            <div class="row">
                <b> C. EMPLOYEES</b>
            </div>
            <div class="row">
                Any one of the following:
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>1) Capstone Geneticist</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="19" value="Yes" />Yes &nbsp;
                    <input type="radio" name="19" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D19"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>2) Gynaecologist with 6 months experience, in genetic counselling or having completed 4 weeks training in genetic counselling</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="20" value="Yes" />Yes &nbsp;
                    <input type="radio" name="20" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D20"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 Input">
                    <label>3) Paediatrician with 6 months experience in genetic counselling or having completed 4 weeks training in genetic counselling</label>
                </div>
               
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="21" value="Yes" />Yes &nbsp;
                    <input type="radio" name="21" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D21"></span>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <table id="tblEmployee" class="table table-bordered EmployeeList"></table>
                    </div>
                </div>
            </div>
            <div class="row">
                <b>D.</b>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>a) Maintenance of Form F.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="22" value="Yes" />Yes &nbsp;
                    <input type="radio" name="22" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D22"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ">
                    <label> b)PC&PNDT Record maintenance Register</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="23" value="Yes" />Yes &nbsp;
                    <input type="radio" name="23" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D23"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label> c)Filling of IT Returns</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="24" value="Yes" />Yes &nbsp;
                    <input type="radio" name="24" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D24"></span>
                </div>
            </div>
            <div class="row">
                <b>E.</b>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label>In view of the inspection obtained in the check-list it is recommended / not recommended that the registration / renewal to the facility of the applicant be granted</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="25" value="Yes" />Yes &nbsp;
                    <input type="radio" name="25" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D25"></span>
                </div>
            </div>

            <div id="divDescription" hidden>
                <div class="row">
                    <b>F.</b>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label>If not recommended, state the reasons for same</label>
                    </div>
                    <div class="col-md-4">
                        <textarea class="form-control" id="26" rows="3" cols="40"></textarea>

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
                    @*<div class="box-footer pull-right">
                        <input type="button" id="btnViewApplication" value="View" class="btn btn-info" />
                        <input type="button" id="btnSave" value="Save" class="btn btn-success" />
                    </div>
                    <div id="divViewApplication" hidden>
                        <table id="tblViewApplication"></table>
                    </div>*@



</section>

<script>
    $(document).ready(function () {

       

        $("input[name='25']").on('ifChecked', function (e) {
            if (this.value == "No") {
                $('#divDescription').show();
            }
            else {
                $('#divDescription').hide();
            }
           
        });


       
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        

      
        var data = {
             TransactionId: $('#hfTransactionId').val(),
            //TransactionId: 211,
            DepartmentUserId: 1,
            FacilityId:1
        }

        @*var url = '@Url.Action("GetDeptUserInspectionQuestions", "Inspection", new { Area = "Department" })';
        var jqxhr = $.post(url, data, function () { })
            .done(function (response) {
                
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                BindQsData(json);

            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Get inspectionlist, Request Failed: " + err);
            });*@

      

    })
    function BindQsData(json) {
        
        $('#q15').text('1. ' + json.Table[0].FacilityDetails);
        $('#q16').text('2. ' + json.Table[0].ApplicantDetails);


    }
   

</script>
<script type="text/javascript">
   @* $('#btnSave').click(function () {
        
       
        preparejson();
        function preparejson() {
           
            var Inspection = [];

            Inspection.push({
                QuestionId: 15,
                Answer: $("input[name='15']:checked").val()
                
            })

            Inspection.push({
                QuestionId: 16,
                Answer: $("input[name='16']:checked").val()
            })
            Inspection.push({
                QuestionId: 17,
                Answer: $("input[name='17']:checked").val()
            })
            Inspection.push({
                QuestionId: 18,
                Answer: $("input[name='18']:checked").val()
            })
            Inspection.push({
                QuestionId: 19,
                Answer: $("input[name='19']:checked").val()
            })
            Inspection.push({
                QuestionId: 20,
                Answer: $("input[name='20']:checked").val()
            })
            Inspection.push({
                QuestionId: 21,
                Answer: $("input[name='21']:checked").val()
            })
            Inspection.push({
                QuestionId: 22,
                Answer: $("input[name='22']:checked").val()
            })
            Inspection.push({
                QuestionId: 23,
                Answer: $("input[name='23']:checked").val()
            })
            Inspection.push({
                QuestionId: 24,
                Answer: $("input[name='24']:checked").val()
            })
            Inspection.push({
                QuestionId: 25,
                Answer: $("input[name='25']:checked").val()
            })
            Inspection.push({
                QuestionId: 26,
                Answer: $('#26').val()
            })



            var data = {
                TransactionId: $('#hfTransactionId').val(),
                Inspection: Inspection
            }

            //console.log(Inspection);
            //console.log(data);
            var url = '@Url.Action("InspectionList", "Inspection", new { Area = "Department" })';
            var jqxhr = $.post(url, data, function () { })
                .done(function (response) {
                   
                    var json;
                    if (response instanceof Object)
                        json = response;                        
                    else
                        json = $.parseJSON(response);
                    console.log(json);
                    //BindCounts(json);
                    onSuccess(json)
                    

                })
                .fail(function (jqxhr, status, error) {
                    var err = status + ", " + error;
                    console.log("Get Applications, Request Failed: " + err);
                });

        }

        function onSuccess(json) {
          
            ShowModal(json);
           
        }
    });*@

    //function preparejsontest(){
    //    var Inspection = [];

    //    Inspection.push({
    //        QuestionId: 15,
    //        Answer:'Yes'

    //    })

    //    Inspection.push({
    //        QuestionId: 16,
    //        Answer:'No'
    //    })
    //    Inspection.push({
    //        QuestionId: 17,
    //        Answer: 'Yes'

    //    })

    //    Inspection.push({
    //        QuestionId: 18,
    //        Answer: 'No'
    //    })
    //    Inspection.push({
    //        QuestionId: 19,
    //        Answer: 'Yes'

    //    })

    //    Inspection.push({
    //        QuestionId: 20,
    //        Answer: 'No'
    //    })
    //    Inspection.push({
    //        QuestionId: 21,
    //        Answer: 'Yes'

    //    })

    //    Inspection.push({
    //        QuestionId: 22,
    //        Answer: 'No'
    //    })
    //    Inspection.push({
    //        QuestionId: 23,
    //        Answer: 'Yes'

    //    })

    //    Inspection.push({
    //        QuestionId: 24,
    //        Answer: 'No'
    //    })
    //    Inspection.push({
    //        QuestionId: 25,
    //        Answer: 'No'
    //    })
       
    //    console.log(Inspection);
    //    return Inspection;
    //}


    //$(function () {       
    //    var a = 1;
    //    if (a=1) {
    //        $('.displayInput').show();
    //        var json = preparejsontest();
    //        console.log(json[0].QuestionId + ',' + json[0].Answer);

    //        $(json).each(function (i, item) {

    //            $('#D' + json[i].QuestionId).html(json[i].Answer);
    //        });
    //    }
    //});
</script>

