@model Capstone.Models.PCPNDTViewModel
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Institution Type</legend>
    <div class="row">
        <div class="col-md-offset-4 col-md-1">
            @Html.LabelFor(model => model.InstitutionModelLog.InstitutionTypeId, new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.InstitutionModelLog.InstitutionTypeName)
        </div>
    </div>
</fieldset>
