@model Capstone.Models.TAMCEFacilityModel

<div class="row">
    <div class="col-md-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">15. TRAINING, C M E,IEC & SOCIAL ACTIVITIES </legend>

            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr>
                                    <th>S.No.</th>
                                    <th style="width:480px;">Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th style="width:260px;">Partial Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                            </table>
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Establishments of Hospital Training team and organization of regular clinical meetings, 
                                        journal clubs and involvement of IMA
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkMyhelpYou" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Hospital Library with latest journals and basic text books
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        Services of qualified staff made available in OPD for IEC Activities
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="width:528px;">
                                        Posters and Banners displayed in OPD, wards and premises.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td style="width:528px;">
                                        Annual social gathering arranged for the staff.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">16. AMBULATORY SERVICES & TELECOMMUNICATION </legend>

            <div class="row">
                <div class="col-xs-12">
                    <label> A) Vehicles :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr>
                                    <th>S.No.</th>
                                    <th style="width:480px;">Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th style="width:260px;">Partial Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                            </table>
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Status of Ambulances
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkMyhelpYou" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Availability of Garages
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>                                
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label> B) Tele Communications :</label>
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table id="tblInfraStructure" class="table table-hover">
                                <tr style="display:none;">
                                    <th>S.No.</th>
                                    <th>Facility Name</th>
                                    <th>Availability(Yes/No)</th>
                                    <th>PartialInfo&Mismatch</th>
                                    <th>Remarks(if not Satisfied)</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="width:528px;">
                                        Availability of PBX and Telephone Operator
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td style="width:528px;">
                                        Avaialability of Public phone facility in Casuality and OPD
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td style="width:528px;">
                                        Availability of Telephone directory and telephone numbers of collector, Police superintendent, Fire Brigade, Water Supply,
                                        other ambulances, Electricity board and other private nursing homes to be contacted in case of emergency referral.
                                    </td>
                                    <td>
                                        <input type="radio" name="" value="Yes">Yes
                                        <input type="radio" name="" value="No">No
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkFlowChart" />
                                    </td>
                                    <td style="text-align-last:end"><input type="text" style="width:180px;" /></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </fieldset>
    </div>
</div>

