
@*<section class="content-header">
    <h3></h3>

</section>*@
<section class="content">
    <div id="divUltra">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Check List For Verification Of Ultrasonography Clinic Renewal / Fresh</legend>
            <div class="row">
                <div class="row">
                    <div class="col-md-5"><b>1.</b></div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Facility Name :</div>
                        <div class="col-md-6"><label id="q15Name" class="FacilityName"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Address :</div>
                        <div class="col-md-6"><label id="q15Address" class="FacilityAddress"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Phone :</div>
                        <div class="col-md-6"><label id="q15Phone" class="FacilityPhone"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Email :</div>
                        <div class="col-md-6"><label id="q15Email" class="FacilityEmail"></label></div>

                    </div>


                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="136" value="Yes" />Yes &nbsp;
                    <input type="radio" name="136" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D15"></span>
                </div>

            </div>

            <div class="row">
                <div class="row">
                    <div class="col-md-5"><b>2.</b></div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Applicant Name :</div>
                        <div class="col-md-6"><label id="q16Name" class="ApplicantName"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Qualification :</div>
                        <div class="col-md-6"><label id="q16Qualification" class="Qualification"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Address :</div>
                        <div class="col-md-6"><label id="q16Address" class="ApplicantAddress"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Phone</div>
                        <div class="col-md-6"><label id="q16Phone" class="ApplicantPhone"></label></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">Email :</div>
                        <div class="col-md-6"><label id="q16Email" class="ApplicantEmail"></label></div>

                    </div>


                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="137" value="Yes" />Yes &nbsp;
                    <input type="radio" name="137" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D16"></span>
                </div>

            </div>
            
            
             @*<div class="row">
                <div class="col-md-8">
                    <label id="Q136">1. Name, address, Contact Number and Email-id Of the Hospital / Nursing Home / Clinic / Diagnostic Centre.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="136" value="Yes" />Yes &nbsp;
                    <input type="radio" name="136" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D136"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label id="Q137">2. Name, Qualification, Address, Cell no & Email Id of the owner.</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="137" value="Yes" />Yes &nbsp;
                    <input type="radio" name="137" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D137"></span>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-8">
                    <label>3. Name, Qualification, Address, Cell no & Email Id of the Radiologist / Sonologist / Gynaecologist / cardiologist</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="138" value="Yes" />Yes &nbsp;
                    <input type="radio" name="138" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D138"></span>
                </div>
            </div>
            <div class="row">
                4. Qualification of Radiologist / Sonologist /Gynaecologist / Cardiologist
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>&nbsp; &nbsp; &nbsp; a) For Sonologist, MBBS with one year experience and 6 months training</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="139" value="Yes" />Yes &nbsp;
                    <input type="radio" name="139" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D139"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>&nbsp; &nbsp; &nbsp; b) For Gynaecologist 2 months training</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="140" value="Yes" />Yes &nbsp;
                    <input type="radio" name="140" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D140"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>&nbsp; &nbsp; &nbsp; c) For Radiologist -MD Radiology or DMRD</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="141" value="Yes" />Yes &nbsp;
                    <input type="radio" name="141" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D141"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>&nbsp; &nbsp; &nbsp; d) For Capstone Geneticist MBBS Degree with 6 months experience and 2 months training</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="142" value="Yes" />Yes &nbsp;
                    <input type="radio" name="142" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D142"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>&nbsp; &nbsp; &nbsp; e) For Cardiologist - MD Cardiology</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="143" value="Yes" />Yes &nbsp;
                    <input type="radio" name="143" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D143"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>5. Whether, Fees for fresh registration Rs.25000/- for Ultrasound / 2D Echo and Rs. 35000/- for Ultrasound with invasive techniques paid or not</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="144" value="Yes" />Yes &nbsp;
                    <input type="radio" name="144" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D144"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label>Amount: 5000</label>
                    </div>
                    <div class="col-md-4">
                        <label>Date: 01-06-2017</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>6. How many machines are there in the above said premises of Hospital / Nursing Home / Clinic / Diagnostic Centre</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="145" value="Yes" />Yes &nbsp;
                    <input type="radio" name="145" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D145"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1">Give the details of all the machines</div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-8">
                        <table id="tblMachines" class="table table-bordered table-striped EquipmentList">
                           
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label>7. Whether there is adequate place available for the Hospital / Nursing Home / Clinic / Diagnostic Centre, waiting place and toilet<b> (Please mention measurements of the scanning room)</b></label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="text" id="146" />(in Sq.ft.)
                    <div class="col-md-4 displayInput" hidden>
                        <span id="D146"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>8. Whether the scanning machine Make, Model & Sl.No. is tallying with the Registration Certificate or Not. </label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="147" value="Yes" />Yes &nbsp;
                    <input type="radio" name="147" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D147"></span>
                </div>
            </div>
            @*<div class="row">  \\show only for renwal of applications only
                <div class="col-md-8">
                    <label>9. For renewal of registration</label>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col-md-8">
                    <label>&nbsp;  &nbsp; &nbsp; 1) The date of expiry of the certificate</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="148" value="Yes" />Yes &nbsp;
                    <input type="radio" name="148" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D148"></span>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col-md-8">
                    <label> &nbsp; &nbsp; &nbsp; 2) Date of submission of application</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="149" value="Yes" />Yes &nbsp;
                    <input type="radio" name="149" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D149"></span>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-8">
                    <label>
                        10. Fees for renewal of registration if applied one month before the expiry Rs.12,500/- for only Ultrasound / 2D Echo and Rs.17,500/- for Ultrasound along with invasive techniques.
                        If not applied before one month of the expiry date, the fees amount should be Rs. 25,000/- for Ultrasound / 2D Echo and Rs.35,000/- for Ultrasound along with invasive techniques
                    </label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="150" value="Yes" />Yes &nbsp;
                    <input type="radio" name="150" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D150"></span>
                </div>
            </div>
            <div class="row">
                12.
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label> &nbsp; &nbsp; &nbsp; a) Maintenance of Form F</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="151" value="Yes" />Yes &nbsp;
                    <input type="radio" name="151" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D151"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label> &nbsp; &nbsp; &nbsp; b) PC&PNDT Record maintenance Register</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="152" value="Yes" />Yes &nbsp;
                    <input type="radio" name="152" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D152"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label> &nbsp; &nbsp; &nbsp; c) Filing of IT Returns</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="153" value="Yes" />Yes &nbsp;
                    <input type="radio" name="153" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D153"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>  13. In view of the inspection obtained in the check-list it is recommended / not recommended that the registration / renewal to the facility of the applicant be granted</label>
                </div>
                <div class="col-md-4 Input" hidden>
                    <input type="radio" name="154" value="Yes" />Yes &nbsp;
                    <input type="radio" name="154" value="No" />No
                </div>
                <div class="col-md-4 displayInput" hidden>
                    <span id="D154"></span>
                </div>
            </div>
            <div id="divComment" hidden>
                <div class="row">
                    <div class="col-md-8">
                        <label> 14. If not recommended, state the reasons for same</label>
                    </div>
                    <div class="col-md-4 Input" hidden>
                        <textarea id="155" rows="3" cols="40"></textarea>
                    </div>
                    <div class="col-md-4 displayInput" hidden>
                        <span id="D155"></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
                    @*<div class="box-footer pull-right">
                        <input type="button" id="btnSave" value="Save" class="btn btn-info" />
                    </div>*@

</section>


<script>
    $(document).ready(function () {



        $("input[name='154']").on('ifChecked', function (e) {
            if (this.value == "No") {
                $('#divComment').show();
            }
            else {
                $('#divComment').hide();
            }

        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        

        var data = {
            TransactionId: +$('#hfTransactionId').val(),
            //TransactionId: 211,
            DepartmentUserId: 1,
            FacilityId:2
        }

        var url = '@Url.Action("GetDeptUserInspectionQuestions", "Inspection", new { Area = "Department" })';
        var jqxhr = $.post(url, data, function () { })
            .done(function (response) {
                
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);
                BindFacilityData(json);

            })
            .fail(function (jqxhr, status, error) {
                var err = status + ", " + error;
                console.log("Get inspectionlist, Request Failed: " + err);
            });



    })
    function BindFacilityData(json) {
        
        $('#Q136').text('1. ' + json.Table[0].FacilityDetails);
        $('#Q137').text('2. ' + json.Table[0].ApplicantDetails);


    }


</script>
<script type="text/javascript">
    $('#btnSave').click(function () {

        preparejson();
        function preparejson() {

            var Inspection = [];

            Inspection.push({
                QuestionId: 136,
                Answer: $("input[name='136']:checked").val()

            })

            Inspection.push({
                QuestionId: 137,
                Answer: $("input[name='137']:checked").val()
            })
            Inspection.push({
                QuestionId: 138,
                Answer: $("input[name='138']:checked").val()
            })
            Inspection.push({
                QuestionId: 139,
                Answer: $("input[name='139']:checked").val()
            })
            Inspection.push({
                QuestionId: 140,
                Answer: $("input[name='140']:checked").val()
            })
            Inspection.push({
                QuestionId: 141,
                Answer: $("input[name='141']:checked").val()
            })
            Inspection.push({
                QuestionId: 142,
                Answer: $("input[name='142']:checked").val()
            })
            Inspection.push({
                QuestionId: 143,
                Answer: $("input[name='143']:checked").val()
            })
            Inspection.push({
                QuestionId: 144,
                Answer: $("input[name='144']:checked").val()
            })
            Inspection.push({
                QuestionId: 145,
                Answer: $("input[name='145']:checked").val()
            })
            Inspection.push({
                QuestionId: 146,
                Answer: $('#146').val()
            })
            Inspection.push({
                QuestionId: 147,
                Answer: $("input[name='147']:checked").val()
            })
            Inspection.push({
                QuestionId: 148,
                Answer: $("input[name='148']:checked").val()
            })
            Inspection.push({
                QuestionId: 149,
                Answer: $("input[name='149']:checked").val()
            })
            Inspection.push({
                QuestionId: 150,
                Answer: $("input[name='150']:checked").val()
            })
            Inspection.push({
                QuestionId: 151,
                Answer: $("input[name='151']:checked").val()
            })
            Inspection.push({
                QuestionId: 152,
                Answer: $("input[name='152']:checked").val()
            })
            Inspection.push({
                QuestionId: 153,
                Answer: $("input[name='153']:checked").val()
            })
            Inspection.push({
                QuestionId: 154,
                Answer: $("input[name='154']:checked").val()
            })
            Inspection.push({
                QuestionId: 155,
                Answer: $('#155').val()
            })

            var data = {
                TransactionId: $('#hfTransactionId').val(),
                Inspection: Inspection
            }

            //console.log(Inspection);
            //console.log(data);
            var url = '@Url.Action("InspectionList", "Inspection", new { Area = "Department" })';
            var jqxhr = $.post(url, data, function () { })
                .done(function (response) {

                    var json;
                    if (response instanceof Object)
                        json = response;
                    else
                        json = $.parseJSON(response);
                    console.log(json);
                    //BindCounts(json);
                    onSuccess(json)


                })
                .fail(function (jqxhr, status, error) {
                    var err = status + ", " + error;
                    console.log("Get Applications, Request Failed: " + err);
                });

        }

        function onSuccess(json) {
            ShowModal(json);
        }
    });
</script>